#lomake {
  display: flex;
  flex-direction: column;
  width: 25em
}
label {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
  font-weight: bold;
}

input {
  text-align: right; 
}
#koko {
  width: 10%;
}

#luoPainike {
  text-align: right
}


h3 {
  text-align: center;
  margin-bottom: 1em;
  width: 100%; 
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 75%;
  height: 75%;
}



.white tr:nth-child(even) td:nth-child(odd),
.white tr:nth-child(odd) td:nth-child(even) {
  background-color: black;
}

.black tr:nth-child(odd) td:nth-child(odd),
.black tr:nth-child(even) td:nth-child(even) {
  background-color: black;
}

table {
  border-collapse: collapse;
  height: 95vmax;
  width: 95vw;
  table-layout: fixed;
}

.container {
  display: flex;
  flex-direction: row;
}

.virhe {
  color: #d32f2f;
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 1em;
  margin-top: 0.5em;
}


td {
  border: 2px solid black;
  position: relative;
  box-sizing: border-box;
 
}

td > form {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

img {
  width: 75%;
  height: 75%;
}


